 body{
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
    padding-top: 80px;
    background-color: #f4f4f9;
 }
 nav{
    position: fixed;
    top:10px;
    right: 10px;
 }
 section{
   min-height: 100vh;
   padding: 60px 20px;
   text-align: center;
   box-sizing: border-box;
 }
 #Inicio{background-color: #fff3e0;}
 #Viajes{background-color: #ffffff;}
 #Estadias{background-color: #ffe0b2;}
 #Traslados{background-color: #d7ccc8;}
 .precio{
   display: block;
   font-size: 1.3rem;
   color: #d35400;
   font-weight: bold;
   margin: 12px 0;
 }

 .tarjeta-viaje button{
   background-color: #e67e22;
   color: white;
   border: none;
   padding: 12px;
   width: 100%;
   border-radius: 5px;
   cursor: pointer;
   font-weight: bold;
   font-size: 1rem;
 }
 .tarjeta-viaje button:hover{
   background-color: #6e2c00;
 }
 .img-logo{
   width: 70px;
   border-radius: 50%;
 }
 .logo{
   position: absolute;
   top: 10px;
   left: 10px;
 }

.Menu ul{
   display: flex;
   list-style: none;
   gap: 40px;
   padding: 0;
   margin: 0;
}
.Menu ul li a{
   font-size: 1.2rem;
   text-decoration: none;
   color: #6e2c00;
   font-weight: bold;
}
header{
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 20px;
   background-color: #ffffff;
}
.Menu{
   display: flex;
   align-items: center;
   gap: 50px;
}
#busqueda{
   padding: 12px;
   font-size: 1rem;
   width: 500px;
   border: 1px solid #d35400;
   border-radius: 5px;
}
.Menu button{
   padding: 10px 20px;
   font-size: 1rem;
   background-color: #e67e22;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
.contenedor-viajes{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.tarjeta-viaje{
   border: 1px solid #ccc;
   padding: 15px;
   width: 300px;
   text-align: center;
}
button:hover{
   background-color: #d35400;
   transition: 0.3s;
}
.contenedor-viajes img{
   width: 200px !important;
   height: auto !important;
}
#modal-login{
   display: none;
   position: fixed;
   top: 0; left: 0; width: 100%; height: 100%;
   background: rgba(0, 0, 0, 0.5);
}
.login-contenido{
   background: white;
   width: 300px;
   margin: 100px auto;
   padding: 20px;
   border-radius: 15px;
   text-align: center;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.login-contenido input{
   display: block;
   width: 90%;
   margin: 10px auto;
   padding: 10px;
   border: 1px solid #ccc;
}
.login-contenido button{
   padding: 10px 20px;
   margin: 5px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   background-color: #f39c12;
   color: white;
}
.btn-ingresar{
   background-color: #f39c12;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   font-weight: bold;
}
#modal-registro{
   /*display: none;*/
   position: fixed;
   top: 0; left: 0; width: 100%; height: 100%;
   z-index: 1000; 
}
.texto-registro{
   margin-top: 15px;
   font-size: 14px;
   color: #333;
}
.texto-registro a{
   color: #f39c12;
   text-decoration: underline;
   font-weight: bold;
   cursor: pointer;
}
.texto-registro a:hover{
   color: #d35400;
}